body {
    background-color: rgb(195, 154, 183);
}

input[type="text"], input[type="email"], textarea, select {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s ease-in-out;
  }
  input[type="text"]:focus, input[type="email"]:focus, textarea:focus, select:focus {
    border-color: green;
  }
  input[type="text"]:invalid, input[type="email"]:invalid, textarea:invalid {
    border-color: red;
  }